.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    height: 80px;
    background-color: #fff;
    z-index: 999;
    position: sticky;
    top: 0;
}

.logo {
    width: 100%;
    max-width: 211px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 470px;
}

.navigation.active {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: -100%;
    padding: 10px 20px;
    margin-top: 50px;
    text-align: right;
    font-size: 20px;
}

.navigation li {
    list-style: none;
}

.navigation__link {
    text-decoration: none;
    cursor: pointer;
}

.burgerMenu {
    display: none;
    cursor: pointer;

}

@media only screen and (max-width: 900px) {
    .navigation {
        display: none;
    }
}
